<extend name="Base/user" />

<block name="php"></block>
<block name="script"></block>


<block name="style">
<style type="text/css">
.system-message{ padding: 30px 0px;margin: 0px auto 0px auto;width: 500px;text-align:center; }
.system-message h1{ font-size: 80px; font-weight: normal; line-height: 120px; margin-bottom: 12px }
.system-message .jump{ padding-top: 10px;margin-bottom:20px}
.system-message .jump a{ color: #333;}
.system-message .success,.system-message .error{ line-height: 1.8em; font-size: 32px }
.system-message .detail{ font-size: 12px; line-height: 20px; margin-top: 12px; display:none}
#wait {
    font-size:46px;
}
#btn-stop,#href{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0 none;
    background-color: #8B0000;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    border-color: transparent;
    text-decoration:none;
}

#btn-stop:hover,#href:hover{
    background-color: #ff0000;
}
</style>
</block>


<block name="main">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="javascript:;"><i class="glyphicon glyphicon-comment"></i> 错误提示</a></li>
	</ul>

<!-- content start -->
<div class="">
		<div class="system-message">
			<h2>抱歉,出错啦!</h2>
			<p class="error">
				<?php echo($error); ?>
			</p>
			<p class="detail"></p>
			<p class="jump">
				<b id="wait"><?php echo($waitSecond); ?></b> 秒后页面将自动跳转
			</p>
			<div>
				<a id="href" id="btn-now" href="<?php echo($jumpUrl); ?>">立即跳转</a>
				<button id="btn-stop" type="button" onclick="stop()">停止跳转</button>
			</div>
		</div>
<script type="text/javascript">
(function(){
 var wait = document.getElementById('wait'),href = document.getElementById('href').href;
 var interval = setInterval(function(){
     	var time = --wait.innerHTML;
     	if(time <= 0) {
     		location.href = href;
     		clearInterval(interval);
     	};
     }, 1000);
  window.stop = function (){
         console.log(111);
            clearInterval(interval);
 }
 })();
</script>

</div>
<!-- content end -->

</block>