<block name="side"></block>
<block name="body">
<!-- banner start -->
<div class="banner text-center">
  <div class="slider">
    <ul class="slides">
      <li class="slide">
        <div class="box" style="background-image:url(__TPLROOT__/skin/images/2015010652407685.jpg)"><a><img src="__TPLROOT__/skin/images/2014101479790393.png" class="ylw-img-responsive" alt="广西亮星科技有限公司" title="广西亮星科技有限公司" /></a></div>
      </li>
      <li class="slide">
        <div class="box" style="background-image:url(__TPLROOT__/skin/images/2014103061516877.jpg)"><a><img src="__TPLROOT__/skin/images/2014101479790393.png" class="ylw-img-responsive" alt="广西亮星科技有限公司" title="广西亮星科技有限公司" /></a></div>
      </li>
      <li class="slide">
        <div class="box" style="background-image:url(__TPLROOT__/skin/images/2014111067662073.jpg)"><a><img src="__TPLROOT__/skin/images/2014101479790393.png" class="ylw-img-responsive" alt="广西亮星科技有限公司" title="广西亮星科技有限公司" /></a></div>
      </li>
      <li class="slide">
        <div class="box" style="background-image:url(__TPLROOT__/skin/images/2014072663454633.jpg)"><a><img src="__TPLROOT__/skin/images/2014101479790393.png" class="ylw-img-responsive" alt="广西亮星科技有限公司" title="广西亮星科技有限公司" /></a></div>
      </li>
    </ul>
  </div>
</div>
<!-- banner end --> 
</block>
